<div class="card">
    <div class="form-control">
        <div class="row pt-2 pb-2">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ student.first_name }} {{ student.last_name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9">
                                <a :href="'mailto:' + student.email">{{ student.email }}</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9">
                                <phone-number-format v-bind:data="student"></phone-number-format>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Scheduled</h6>
                            </div>
                            <div class="col-sm-9" v-if="studentScheduled">
                                        <span class="btn btn-success">
                                            <i class="fa fa-check"></i>&nbsp;Has Appointment
                                        </span>
                            </div>
                            <div class="col-sm-9" v-else>
                                        <span class="btn btn-danger">
                                            <i class="fa fa-times"></i>&nbsp;Needs Appointment
                                        </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row" v-if="student.has_one_lesson">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Lesson</h6>
                            </div>
                            <div class="col-sm-9">
                                <i class="fa fa-clock-o"></i>
                                &nbsp;{{ new Date(student.has_one_lesson.start_date).toDateString() }} | {{ student.has_one_lesson.start_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('h:mm a') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" @submit.prevent="saveLessons()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" :class="error_start_date && classError">
                        <label for="start_date" class="control-label">Start Date</label>
                        <v-date-picker v-model="startDate"
                                       mode="date"
                                       :disabled-dates='closed'
                                       :model-config="modelConfig">
                            <template v-slot="{ inputValue, inputEvents }">
                                <input
                                        class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 form-control"
                                        :value="inputValue"
                                        v-on="inputEvents"
                                />
                            </template>
                        </v-date-picker>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" :class="error_start_time && classError">
                        <label for="start_time" class="control-label">Start Time</label>
                        <select class="form-control" id="start_time" v-model="lesson.start_time" @change="checkDurationTimes($event)" v-on:keydown.enter.prevent>
                            <option v-for="time in allTimes" :value="time" :key="time.id" :selected="time.id === 1">
                                {{ time | dateParse('HH:mm:ss') | dateFormat('h:mm a') }}
                            </option>
                        </select>
                        <small>{{ error_start_time }}</small>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" :class="error_end_time && classError">
                        <label for="end_time" class="control-label">Duration</label>
                        <select class="form-control" id="end_time" v-model="lesson.end_time" v-on:keydown.enter.prevent>
                            <option v-for="interval in duration" :value="interval.value" :key="interval.id">
                                {{ interval.name }}
                            </option>

                        </select>
                        <small>{{ error_end_time }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group" :class="error_recurrence && classError">
                        <label for="end_time" class="control-label">Recurrence</label>
                        <select class="form-control" id="recurrence" v-model="lesson.recurrence" v-on:keydown.enter.prevent>
                            <option value="Monthly">Monthly</option>
                            <option value="Once">One Time</option>
                        </select>
                        <small>{{ error_recurrence }}</small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" :class="error_billing_rate_id && classError">
                        <label for="billing_rate" class="control-label">Billing Rate</label>
                        <select class="form-control" id="billing_rate" v-model="lesson.billing_rate_id" v-on:keydown.enter.prevent>
                            <option v-for="rate in billingRates" :value="rate.id">
                                {{ rate.amount | toCurrency }} | {{ rate.type | capitalising }} - {{ rate.description | capitalising }}
                            </option>
                        </select>
                        <small>{{ error_billing_rate_id }}</small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" :class="error_color && classError">
                        <label for="color" class="control-label">Color</label>
                        <select class="form-control" id="color" v-model="lesson.color" v-on:keydown.enter.prevent>
                            <option v-for="color in colors" :value="color.code" :key="color.id">
                                {{ color.name }}
                            </option>
                        </select>
                        <small>{{ error_color }}</small>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="pull-left">
                <button v-show="allTimes" type="submit" class="btn btn-primary" :disabled="disableSaveButton">Save</button>
                <button type="button" class="btn btn-outline-secondary" @click="cancelLessonForm">Cancel</button>
            </div>
        </form>
    </div>
    <notifications position="bottom right"/>
</div>
