<div class="card">
    <div v-if="showModal">
        <!-- modal create read edit -->
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Payment for Invoice</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" @click="cancelForm()">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form class="form-horizontal" action="#" @submit.prevent="createInvoicePayment(invoice.id)">
                                    <div class="row">
                                        <div class="col-md-6 offset-3">
                                            <div class="form-group">
                                                <label for="check">Total:</label> <strong>{{ invoice.total | toCurrency }}</strong>
<!--                                                <div class="input-group mb-3">-->
<!--                                                    <p></p>-->
<!--                                                </div>-->
                                            </div>
                                            <div class="form-group" :class="error_payment_type_id && classError">
                                                <label for="payment_type">Payment Type</label>
                                                <select id="single-select" @change="showCheckInput($event)"
                                                        class="form-control"
                                                        v-model="invoice.payment_type_id"
                                                        v-on:keydown.enter.prevent>
                                                    <option v-for="type in types" :key="type.id" :value="type.type" :selected="type.id">
                                                        {{ type.label }}
                                                    </option>
                                                </select>
                                                <small>{{ error_payment_type_id }}</small>
                                            </div>
                                            <div class="form-group" v-if="showCheckField">
                                                <label for="check">Check Number</label>
                                                <div class="input-group mb-3">

                                                    <input class="form-control"
                                                           type="text" id="check"
                                                           v-model="invoice.check_number"
                                                           v-on:keydown.enter.prevent>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="payment_information">Payment Information</label>
                                                <div class="input-group mb-3">
                                                    <input class="form-control"
                                                           type="text" id="payment_information"
                                                           :placeholder="placeholderValue"
                                                           v-model="invoice.payment_information"
                                                           v-on:keydown.enter.prevent>
                                                </div>
                                            </div>
                                            <div class="form-group" :class="error_payment && classError">
                                                <label for="amount">Payment Amount</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <input class="form-control"
                                                           type="number" id="amount"
                                                           v-model="invoice.payment"
                                                           min=".01" step=".01"
                                                           :placeholder="paymentPlaceHolderValue"
                                                           @click="hasPaymentAmount"
                                                           v-on:keydown.enter.prevent>
                                                </div>
                                                <small>{{ error_payment }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group pull-right">
                                        <button @click="cancelForm()" class="btn btn-default">Cancel</button>
                                        <button type="submit" :disabled="disableSave" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!-- end of modal create read edit -->
    </div>

    <!-- vue js data table -->
    <div class="form-control">
        <div class="form-group pull-left">
            <div class="form-group">
                <select id="single-select" v-model="per_page" class="form-control">
                    <option v-for="page in pages" :value="page">{{ page }}</option>
                </select>
            </div>
        </div>
        <div class="form-group pull-right">
            <a :href="`/invoice/create`" class="btn btn-primary" role="button" title="create invoice">Create Invoice</a>
        </div>


        <div class="form-group pull-right pr-2">
            <input type="text" class="form-control" v-model="filter" placeholder="Search" @keydown="$event.stopImmediatePropagation()">
        </div>
        <datatable class="table table-responsive-md table-hover" :columns="columns" :data="list" :filter="filter" :per-page="per_page">
            <template v-slot="{ columns, row }">
                <tr>
                    <td v-if="row.is_paid === false"><span class="btn btn-sm btn-danger btn-rounded"><i class="fa fa-times"></i></span></td>
                    <td v-if="row.is_paid === true"><span class="btn btn-sm btn-success btn-rounded"><i class="fa fa-check"></i></span></td>
                    <td>{{ row.student.first_name }}</td>
                    <td>{{ row.student.last_name }}</td>
                    <td>
                        <phone-number-format v-bind:data="row.student"></phone-number-format>
                    </td>
                    <td>{{ row.student.email }}</td>
                    <td>{{ row.balance_due | toCurrency }}</td>
                    <td class="text-nowrap">
                        <a :href="`/invoice/show/${row.id}`" class="btn btn-sm btn-outline-primary" role="button" title="view"><i class="fa fa-file-pdf-o"></i></a>
                        <a :href="`/invoice/download/pdf/${row.id}`" class="btn btn-sm btn-outline-secondary" role="button" title="download invoice"><i class="fa fa-download"></i></a>
                        <button @click="showInvoicePaymentModal(row.id, row.total)"
                                class="btn btn-outline-success btn-sm"
                                title="make payment"
                                v-if="disableButton(row)">
                            <i class="fa fa-dollar"></i>
                        </button>
                    </td>
                </tr>
            </template>
        </datatable>
        <total-entries v-bind:list="list"></total-entries>
        <div class="pull-right">
            <bootstrap-3-datatable-pager class="pagination" v-model="page" type="abbreviated" :per-page="per_page"></bootstrap-3-datatable-pager>
        </div>
    </div>
    <!-- end of vue js data table -->
    <notifications position="bottom right"/>
</div>
