<div class="card">
    <div class="form-control">
        <form action="#" @submit.prevent>
            <div class="row pl-4 pt-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <select id="single-select" class="form-control" @change="getSelectedStudent($event)">
                            <option>-- Select Student --</option>
                            <option v-for="row in list" :value="row.student_id" :key="row.id">
                                {{ row.first_name }} {{ row.last_name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-show="selected">
                <div class="row pl-4">
                    <div class="col-md-6 text-left" v-if="selected">
                        <p class="font-weight-bold mb-4">Billed By:</p>
                        <p class="mb-1"><span class="text-muted"></span><strong>{{ student.student_teacher.studio_name }}</strong></p>
                        <p class="mb-1"><span class="text-muted"></span>{{ student.student_teacher.first_name }} {{ student.student_teacher.last_name }}</p>
                        <p class="mb-1"><span class="text-muted"></span>{{ student.student_teacher.address }} {{ student.student_teacher.address_2 }}
                            <br>{{ student.student_teacher.city }}, {{ student.student_teacher.state }} {{ student.student_teacher.zip }}</p>
                        <br/>
                        <p class="mb-1"><span class="text-muted"></span>{{ student.student_teacher.email }}</p>
                        <p class="mb-1"><span class="text-muted"></span>
                            <phone-number-format v-bind:data="student.student_teacher"></phone-number-format>
                        </p>
                    </div>
                </div>

                <hr class="my-1">

                <div class="row p-4 pb-1">
                    <div class="col-md-6">
                        <p class="font-weight-bold mb-4">Billed To:</p>
                        <p class="mb-1">{{ student.first_name }} {{ student.last_name }}</p>
                        <p class="mb-1" v-if="selected">
                            <phone-number-format v-bind:data="student"></phone-number-format>
                        </p>
                        <p class="mb-1">{{ student.email }}</p>
                        <p class="mb-1">{{ student.parent_email }}</p>
                        <p class="mb-1">{{ student.instrument }}</p>
                    </div>
                </div>

                <div class="row pl-4">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="border-0 text-uppercase small font-weight-bold">Completed</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Start Date</th>
                                <th class="border-0 text-uppercase small font-weight-bold">End Date</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Billing Rate</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="lesson in lessons" :key="lesson.id">
                                <td>
                                    <select id="single-select" class="form-control" @change="updateLesson(lesson.id, $event)">
                                        <option :value="lesson.complete" v-model="lesson.complete">
                                            {{ lesson.complete ? "Yes" : "No" }}
                                        </option>
                                        <option :value="!lesson.complete" v-model="!lesson.complete">
                                            {{ lesson.complete ? "No" : "Yes" }}
                                        </option>
                                    </select>
                                </td>
                                <td>{{ lesson.start_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM-DD-YYYY h:mm a') }}</td>
                                <td>{{ lesson.end_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM-DD-YYYY h:mm a') }}</td>
                                <td>{{ lesson.interval }} minutes</td>
                                <td>{{ '$' + lesson.billing_rate.amount }} {{ lesson.billing_rate.description ? '| ' +  lesson.billing_rate.description : '' }}</td>
                                <td>{{ calculateLessonAmount(lesson) | toCurrency }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center pb-4" v-if="student?.lessons?.length === 0">No Lesson</div>
                    </div>
                </div>

                <div class="row pl-4 pt-2 pb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="normal-input" class="form-control-label">Due Date</label>
                            <input id="normal-input"
                                   class="form-control"
                                   type="date"
                                   v-model.trim="invoice.due_date"
                                   v-on:keydown.enter.prevent>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="normal-input" class="form-control-label">Send to Email</label>
                            <div class="input-group mb-3">
                                <input id="normal-input"
                                       class="form-control"
                                       type="email"
                                       v-model.trim="invoice.additional_email"
                                       placeholder="Send additional copy to this email"
                                       v-on:keydown.enter.prevent>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex flex-row bg-dark text-white p-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="discount" class="form-control-label">Discount</label>
                            <div class="input-group mb-3">
                                <input id="discount"
                                       class="form-control"
                                       type="number"
                                       min="0"
                                       max="100"
                                       v-model="invoice.discount"
                                       @input="updateTotal()"
                                       v-on:keydown.enter.prevent>
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="subtotal" class="form-control-label">Sub Total</label>
                            <p class="form-control-plaintext h4">{{ invoice.subtotal | toCurrency }}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="total" class="form-control-label">Total</label>
                            <p class="form-control-plaintext h4">{{ invoice.total | toCurrency }}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="balance-due" class="form-control-label">Balance Due</label>
                            <p class="form-control-plaintext h4">{{ invoice.balance_due | toCurrency }}</p>
                        </div>
                    </div>
                </div>

                <div class="form-group pull-right pt-4 pr-md-4">
                    <button @click="clearForm()" class="btn btn-default">Cancel</button>
                    <button @click="createInvoice()"
                            class="btn btn-primary"
                            type="submit"
                            :disabled="isDisabled">Save</button>
                </div>
            </div>
        </form>
    </div>
    <notifications position="bottom right"/>
</div>
