body {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
}
h4 {
    margin: 0;
}
.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
}
.margin-top {
    margin-top: 1.25rem;
}
.footer {
    font-size: 0.775rem;
    padding: 1rem;
    background-color: rgb(241 245 249);
    position: fixed;
    width: 80%;
    bottom: 10px;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
table.products {
    font-size: 0.775rem;
}
table.products tr {
    /*background-color: rgb(17, 61, 126);*/
    background-color: #ffffff;
}
table.products th {
    /*color: #ffffff;*/
    padding: 0.3rem;
}
table tr.items {
    text-align: center;
    background-color: rgb(241 245 249);
}
table tr.items td {
    /*border: 1px solid #b6b3b3;*/
    border-top: 1px solid #b6b3b3;
    padding: 0.3rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(68, 68, 68, .1)
}
.total {
    float: right;
    width: 180px;
    text-align: right;
    margin-top: 2rem;
    margin-right: 4rem;
    font-size: 0.775rem;
    background-color: rgb(241 245 249);
}

.total table tr {
    text-align: right;
}
.paid {
    font-size: 1.0rem;
    float: right;
    text-align: right;
    margin-top: 1rem;
    margin-right: 6rem;
}
.paid p {
    color:red;
}
.notes {
    width: 400px;
}
