/* DATED: 2019-03-27 */
.help-block {
    color: #ff3737;
}

.form-control-feedback {
    color: #8a6d3b
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #a94442
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}
.has-error {
    color: #a94442;
}

.fc-title {
    color: #fff;
}

small {
    font-weight: bold;
}

table thead tr th {
    text-align: left !important;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none
}

.pagination ul li {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #777;
    background-color: #fff;
    border: 1px solid #dee2e6
}

.pagination ul li:hover {
    color: #515151;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.pagination ul li:focus {
    z-index: 2;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.pagination ul li:not(:disabled):not(.disabled) {
    cursor: pointer
}

.pagination ul li:first-child {
    margin-left: 0
}

.pagination ul li.active {
    z-index: 1;
    color: #fff;
    background-color: #42a5f5;
    border-color: #42a5f5
}

.pagination ul li.disabled {
    color: #999;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(25%);
    backdrop-filter: contrast(55%);
    display: table;
    transition: opacity .8s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: top;
}
