<div class="card">
    <!-- vue js data table -->
    <div class="form-control">
        <div class="form-group pull-left">
            <div class="form-group">
                <select id="single-select" v-model="per_page" class="form-control">
                    <option v-for="page in pages" :value="page">{{ page }}</option>
                </select>
            </div>
        </div>
        <div class="form-group pull-right">
            <input type="text" class="form-control" v-model="filter" placeholder="Search" @keydown="$event.stopImmediatePropagation()">
        </div>
        <datatable class="table table-responsive-md table-hover" :columns="columns" :data="list" :filter="filter" :per-page="per_page">
            <template v-slot="{ columns, row }">
                <tr>
                    <td v-text="row.first_name + ' ' + row.last_name"></td>
                    <td v-text="row.email"></td>
                    <td v-html="getRoleBadges(row)"></td>
                    <td v-html="isActiveIcon(row.is_active)"></td>
                    <td>{{ row.created_at | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM-DD-YYYY h:mm a') }}</td>
                    <td class="text-nowrap">
                        <a :href="`/admin/user/${row.id}/edit`" class="btn btn-sm btn-outline-primary" role="button" title="edit"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </template>
        </datatable>
        <total-entries :list="list"></total-entries>
        <div class="pull-right">
            <bootstrap-3-datatable-pager class="pagination" v-model="page" type="abbreviated" :per-page="per_page"></bootstrap-3-datatable-pager>
        </div>
    </div>
</div>
