<div class="card">
    <!-- vue js data table -->
    <div class="form-control">
        <div class="form-group pull-left">
            <div class="form-group">
                <select id="single-select" v-model="per_page" class="form-control">
                    <option v-for="page in pages" :value="page">{{ page }}</option>
                </select>
            </div>
        </div>
        <div class="form-group pull-right">
            <input type="text" class="form-control" v-model="filter" placeholder="Search" @keydown="$event.stopImmediatePropagation()">
        </div>
        <datatable class="table table-responsive-md" :columns="columns" :data="list" :filter="filter" :per-page="per_page">
            <template v-slot="{ columns, row }">
                <tr>
                    <td>
                        <img style="width:20px;" :src="'/storage/student/' + row.photo"
                             @error="$event.target.src='/webapp/imgs/avatar.jpeg'" :alt="row.photo"/>
                    </td>
                    <td v-text="row.first_name"></td>
                    <td v-text="row.last_name"></td>
                    <td>
                        <phone-number-format v-bind:data="row"></phone-number-format>
                    </td>
                    <td v-text="row.email"></td>
                    <td v-text="row.instrument"></td>
                    <td v-html="getStatus(row)"></td>
                </tr>
            </template>
        </datatable>
        <total-entries v-bind:list="list"></total-entries>
        <div class="pull-right">
            <bootstrap-3-datatable-pager class="pagination" v-model="page" type="abbreviated" :per-page="per_page"></bootstrap-3-datatable-pager>
        </div>
    </div>
    <!-- end of vue js data table -->
</div>
