<div class="card p-4">
    <div class="row gutters-sm">
        <div class="col-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center" v-cloak>
                        <img v-if="profile.id || profile.photo" style="width:150px;" :src="getProfileImg()" alt="Student profile picture" loading="eager"/>
                        <div class="mt-3">
                            <h5>{{ profile.first_name }}&nbsp;{{ profile.last_name }}</h5>
                            <p class="mb-1">{{ profile.instrument }}</p>
                            <p class="mb-1">{{ profile.level }}</p>
                            <!--                        <a :href="'/messages/reply/' + profile.student_id" class="btn btn-outline-primary">Message</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-9">
                            {{ profile.first_name }}&nbsp;{{ profile.last_name }}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9">
                            <phone-number-format :data="profile.phone"></phone-number-format>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9">
                            <a :href="'mailto:' + profile.email">{{ profile.email }}</a>
                        </div>
                    </div>
                    <hr>

                    <div v-if="profile.parent" class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Parent Email</h6>
                        </div>
                        <div class="col-sm-9" v-if="profile.parent.email">
                            <a :href="'mailto:' + profile.parent.email">{{ profile.parent.email }}</a>
                        </div>
                    </div>
                    <hr v-if="profile.parent">

                    <div v-if="profile.parent_phone" class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Parent Phone</h6>
                        </div>
                        <div class="col-sm-9" v-if="profile.parent">
                            <phone-number-format :data="profile.parent_phone"></phone-number-format>
                        </div>
                    </div>
                    <hr v-if="profile.parent_phone">

                    <div v-if="profile.date_of_birth" class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Birthday</h6>
                        </div>
                        <div class="col-sm-9" v-if="profile.date_of_birth">
                            {{ profile.date_of_birth | dateParse('YYYY-MM-DD') | dateFormat('MMMM DD, YYYY') }}
                        </div>
                    </div>
                    <hr v-if="profile.date_of_birth">

                    <div v-if="profile.address" class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9" v-if="profile.address">
                            {{ profile.address }} {{ profile.address_2 }}<br/>
                            {{ profile.city }}, {{ profile.state }} {{ profile.zip }}
                        </div>
                    </div>
                    <hr v-if="profile?.address">

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Next Lesson</h6>
                        </div>
                        <div class="col-sm-9" v-if="profile.has_one_future_lesson">
                            {{ new Date(profile.has_one_future_lesson.start_date).toDateString() }} | {{ profile.has_one_future_lesson.start_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('h:mm a') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
