<div class="card">
    <div class="form-control">
        <div class="row pt-2 pb-2">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ student.first_name }} {{ student.last_name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9">
                                <a :href="'mailto:' + student.email">{{ student.email }}</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9">
                                <phone-number-format v-bind:data="student"></phone-number-format>
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Appointment Start</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ lesson.start_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM-DD-YYYY h:mm a') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Appointment End</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ lesson.end_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM-DD-YYYY h:mm a') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Duration</h6>
                            </div>
                            <div class="col-sm-9">
                               {{ lesson.interval }} minutes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <div class="row">
                        <label for="notes" class="control-label">Lesson Notes</label>
                        <textarea class="form-control" rows="13" disabled>{{ lesson.notes }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" @submit.prevent="cancelLesson()">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="status" class="control-label">Status</label>
                        <select class="form-control" id="status" v-model="lesson.status" v-on:keydown.enter.prevent>
                            <option v-for="status in statuses" :value="status.value" :key="status.id">
                                {{ status.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="pull-left">
                <button type="submit" class="btn btn-primary" :disabled="disableUpdateButton">Save</button>
<!--                <a href="/household/calendar" type="button" class="btn btn-outline-secondary">Cancel</a>-->
            </div>
        </form>
    </div>
    <!-- end of modal delete contact -->
    <notifications position="bottom right"/>
</div>
