<div class="card">
    <div class="form-control">
        <div class="row pt-2 pb-2">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ student.first_name }} {{ student.last_name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9">
                                <a :href="'mailto:' + student.email">{{ student.email }}</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9">
                                <phone-number-format v-bind:data="student"></phone-number-format>
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Appointment Start</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ lesson.start_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM-DD-YYYY h:mm a') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Appointment End</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ lesson.end_date | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM-DD-YYYY h:mm a') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Duration</h6>
                            </div>
                            <div class="col-sm-9">
                               {{ lesson.interval }} minutes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <div class="row">
                        <label for="notes" class="control-label">Lesson Notes</label>
                        <textarea class="form-control" v-model="lesson.notes" rows="13"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" @submit.prevent="updateLesson()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" :class="error_start_date && classError">
                        <label for="start_date" class="control-label">Start Date</label>
                        <v-date-picker v-model="startDate"
                                       mode="date"
                                       :disabled-dates='closed'
                                       :model-config="modelConfig">
                            <template v-slot="{ inputValue, inputEvents }">
                                <input
                                        class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 form-control"
                                        :value="inputValue"
                                        v-on="inputEvents"
                                />
                            </template>
                        </v-date-picker>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" :class="error_start_time && classError">
                        <label for="start_time" class="control-label">Start Time</label>
                        <select class="form-control" id="start_time" v-model="lesson.start_time" @change="checkDurationTimes($event)" v-on:keydown.enter.prevent>
                            <option v-for="time in allTimes" :value="time" :key="time.id" :selected="time.id === 1">
                                {{ time | dateParse('HH:mm:ss') | dateFormat('h:mm a') }}
                            </option>
                        </select>
                        <small>{{ error_start_time }}</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" :class="error_end_time && classError">
                        <label for="end_time" class="control-label">Duration</label>
                        <select class="form-control" id="end_time" v-model="lesson.end_time" v-on:keydown.enter.prevent>
                            <option v-for="interval in duration" :value="interval.value" :key="interval.id">
                                {{ interval.name }}
                            </option>
                        </select>
                        <small>{{ error_end_time }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group" :class="error_billing_rate_id && classError">
                        <label for="billing_rate" class="control-label">Billing Rate</label>
                        <select class="form-control" id="billing_rate" v-model="lesson.billing_rate_id" v-on:keydown.enter.prevent>
                            <option v-for="rate in billingRates" :value="rate.id">
                                {{ rate.amount | toCurrency }} | {{ rate.type | capitalising }} - {{ rate.description | capitalising }}
                            </option>
                        </select>
                        <small>{{ error_billing_rate_id }}</small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" :class="error_color && classError">
                        <label for="color" class="control-label">Color</label>
                        <select class="form-control" id="color" v-model="lesson.color" v-on:keydown.enter.prevent>
                            <option v-for="color in colors" :value="color.code" :key="color.id">
                                {{ color.name }}
                            </option>
                        </select>
                        <small>{{ error_color }}</small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" :class="error_status && classError">
                        <label for="status" class="control-label">Status</label>
                        <select class="form-control" id="recurrence" v-model="lesson.status" v-on:keydown.enter.prevent>
                            <option v-for="status in statuses" :value="status.value" :key="status.id">
                                {{ status.name }}
                            </option>
                        </select>
                        <small>{{ error_status }}</small>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="pull-left">
                <button v-show="allTimes" type="submit" class="btn btn-primary" :disabled="disableUpdateButton">Update</button>
                <button type="button" class="btn btn-outline-secondary" @click="getDates">Cancel</button>
            </div>
            <div class="pull-right">
                <button type="button" @click="showModalDelete(lesson.id)" class="btn btn-outline-danger pull-right">Delete</button>
            </div>
        </form>
    </div>

    <!-- modal lesson -->
    <div v-if="showModal">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Lesson</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" @click="showModal=false">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to delete this lesson?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" @click="showModal=false">Cancel</button>
                                <button type="button" @click="deleteLesson(id)" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <!-- end of modal delete contact -->
    <notifications position="bottom right"/>
</div>
