<div class="card">
    <div class="card-header bg-light">
        User Data
    </div>
    <div class="card-body">
        <form action="#" @submit.prevent="updateUser()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input id="first_name" v-model.trim="user.first_name" type="text" class="form-control" v-on:keydown.enter.prevent>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input id="last_name" v-model.trim="user.last_name" type="text" class="form-control" v-on:keydown.enter.prevent>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" v-model.trim="user.email" type="email" class="form-control" v-on:keydown.enter.prevent>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="is_active">Active</label>
                        <select id="is_active" class="form-control" v-model="user.is_active">
                            <option :value="user.is_active">{{ user.is_active ? 'Yes' : 'No' }}</option>
                            <option v-for="status in statuses" :value="status.value" :key="status.id" :selected="user.is_active">
                                {{ status.type }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <p class="form-control-plaintext border pl-2">{{ getUserType() }}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="timezone">Time Zone</label>
                        <select class="form-control" v-model="user.timezone">
                            <option :value="user.timezone">{{ user.timezone }}</option>
                            <option v-for="zone in timezones" :value="zone.value" :key="zone.id" :selected="user.timezone">
                                {{ zone.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="trail_ends_at">Trial Ends At</label>
                        <v-date-picker :value="formatDate"
                                       v-model="user.trial_ends_at"
                                       mode="datetime"
                                       :popover="{ placement: 'bottom-start', autoHide: false, visibility: 'focus' }"
                                       :minute-increment="30"
                                       :model-config="modelConfig">
                            <template v-slot="{ inputValue, inputEvents }">
                                <input class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 form-control"
                                       :value="inputValue"
                                       v-on="inputEvents"
                                />
                            </template>
                        </v-date-picker>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="created_at">Created At</label>
                        <p v-if="user.created_at" class="form-control-plaintext border pl-2">{{ user.created_at | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM/DD/YYYY h:mm A') }}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="updated_at">Updated At</label>
                        <p v-if="user.updated_at" class="form-control-plaintext border pl-2">{{ user.updated_at | dateParse('YYYY-MM-DD HH:mm:ss') | dateFormat('MM/DD/YYYY h:mm A') }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pm_type">Payment Type</label>
                        <p class="form-control-plaintext border pl-2">{{ user.pm_type ?? '&nbsp;' }}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pm_last_four">Payment Last 4 Digits</label>
                        <p class="form-control-plaintext border pl-2">{{ user.pm_last_four ?? '&nbsp;' }}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="stripe_id">Stripe ID</label>
                        <p class="form-control-plaintext border pl-2">{{ user.stripe_id ?? '&nbsp;' }}</p>
                    </div>
                </div>
            </div>

            <div class="form-group pt-4">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="/admin/users" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <notifications position="bottom right"/>
</div>
